/* Search Form */
.search-form {
  padding: 10px 15px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#dark .search-form {
  background-color: var(--black);
}

#light .search-form {
  background-color: var(--light-gray-3);
  color: var(--dark-gray-1);
}

.search-form label {
  font-size: 14px;
  font-weight: 600;
}

.search-form form {
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.search-form input {
  width: 100%;
  margin: 0 10px;
}

.search-form input {
  outline: none;
  padding: 14px;
  border-radius: 5px;
  border: none;
}

.search-form form button {
  padding: 14px;
}

.search-form button {
  padding: 14px 40px;
  background: var(--blue-1);
  margin: 0 8px;
  color: var(--white);
}
.search-form button:hover {
  background: var(--blue-2);
}

/* Searched Repos */
.search-results {
  padding: 10px;
  margin: 0px;
  margin-top: 40px;
  border-radius: 5px;
  word-break: break-word;
}

.no-results {
  text-align: center;
}

.repo {
  display: flex;
  flex-direction: row;
  margin: 5px 0px;
  align-items: center;
  padding: 5px 0px;
  border-bottom: var(--dark-gray-1) solid 1px;
}

.repo .image img {
  border-radius: 5px;
  width:  8rem;
  height: 8rem;
}

.repo-info * {
  display: block;
  padding: 0 10px;
}

.load-more--btn {
  text-align: center;
}

.load-more--btn button{
  padding: 14px 40px;
  background: var(--blue-1);
  margin: 0 8px;
  color: var(--white);
}
.load-more--btn button:hover{
  background: var(--blue-2);
}