header {
  background-color: var(--dark-gray-1);;
  padding: 1rem;
  color: var(--white);
  height: 9rem;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header-logo img {
  width: 4rem;
}

.header-logo--name {
  font-size: 2rem;
}