header {
  padding: 1rem;
  color: var(--white);
  height: 9rem;
}

#light header {
  background-color: var(--light-gray-4);;
}

#dark header {
  background-color: var(--dark-gray-2);
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header-logo img {
  width: 4rem;
}

.header-logo--name {
  font-size: 2rem;
}

.header-toggle {
  margin-left: auto;
  padding: 5px;
}

.toggle-text {
  text-transform: capitalize;
  margin-bottom: 3px;
}

@media only screen and (max-width:600px) {
  .header-logo--name {
    font-size: 1rem;
  }
}