.repo-information {
  background: var(--dark-gray);
  padding: 30px;
  border-radius: 5px;
  color: var(--white);
}

.commits {
  background-color: var(--light-gray);
  padding: 10px 30px;
  margin: 20px 0;
  border-radius: 5px;
}

.back {
  background: var(--blue-1);
  color: var(--white);
  border-radius: 5px;
  padding: 10px;
  display: inline-block;
  margin: 10px 0;
  text-decoration: none;
}
.back:hover {
  background: var(--blue-2);
}

.commit-content {
  padding: 20px;
  border-bottom: 1px solid var(--dark-gray);;;
}

.commit-content:last-child {
  border-bottom: none;
}