/* Search Form */
.search-form {
  background: #444;
  padding: 10px 40px;
  border-radius: 5px;
  height: 10rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
}
.search-form form {
  margin: 10px 0;
  display: flex;
  align-items: center;
}
.search-form input {
  width: 60%;
  margin: 0 10px;
}
.search-form input {
  outline: none;
  padding: 14px;
  border-radius: 5px;
  border: none;
}
.search-form button {
  padding: 14px 40px;
  background: #1976d2;
  margin: 0 8px;
  color: white;
}
.search-form button:hover {
  background: #1565c0;
}

/* Searched Repos */
.search-results {
  background-color: white;
  padding: 10px;
  margin: 20px 0;
  border-radius: 5px;
  word-break: break-word;
}
.repo {
  display: flex;
  flex-direction: row;
  margin: 5px 0px;
  align-items: center;
  padding: 5px 0px;
  border-bottom: #444 solid 1px;
}
.repo .image img {
  border-radius: 5px;
  width:  8rem;
  height: 8rem;
}
.repo-info * {
  display: block;
  padding: 0 10px;
}

/* Pagination */
.more-options {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: right;
}
.more-options select {
  margin: 0 10px;
}
.more-options select,
.pagination button {
  outline: none;
  padding: 5px;
  border-radius: 5px;
  border: none;
}
.pagination button {
  background-color: white;
  color: #333;
  margin: 0 5px;
}

@media only screen and (max-width:1366px) {
  .search-form {
    height: 15rem;
    padding: 10px 15px;
  }
  .search-form label {
    font-size: 14px;
  }
  .search-form input {
    width: 50%;
  }
  .search-form form button {
    padding: 14px;
  }
  .search-results {
    margin: 0px;
  }
}