@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,300");

:root {
  --white: #ffffff;
  --black: #000000;
  --dark-gray-1: #444;
  --dark-gray-2: #333;
  --light-gray-1: #f5f5f5; 
  --light-gray-2: #f3ebf6;
  --light-gray-3: #B0BEC5;
  --light-gray-4: #6E8098;
  --blue-1: #1976d2;
  --blue-2: #1565c0;
  --red: #ff0000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html,
body{
  width:100%;
  overflow-x:hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  border: none;
}

#light {
  background-color: var(--white);
  color: var(--black);
  transition: all 1s ease;
}

#dark {
  background-color: var(--dark-gray-1);
  color: var(--white);
  transition: all 1s ease;
}

.container {
  max-width: 1140px;
  padding: 0 2rem;
  margin: auto;
  margin-top: -40px;
}

.loading-spinner {
  text-align: center;
  margin: 5rem 0;
}

.scroll-button {
  text-align: right;
}

.scroll-button button {
  background: var(--blue-1);
  padding: 14px 40px;
  color: var(--white);
  border-radius: 5px;
  margin-bottom: 1rem;
}

.scroll-button button:hover {
  background: var(--blue-2);
}

.error {
  text-align: center;
  color: var(--red);
}

.error button {
  padding: 14px 40px;
  background: var(--blue-1);
  margin: 20px;
  color: var(--white);
}
.error button:hover {
  background: var(--blue-2);
}

@media only screen and (max-width:768px) {
  .container {
    width: 100%;
  }
  .scroll-button {
    text-align: center;
    margin-top: 1rem;
  }
}